In [1]:
import pandas as pd

In [3]:
commute = pd.read_csv('commute.csv')
commute

   TripID        Vehicle        Date  CommuteTime Destination Weather
0       0  Street Triple   11/8/2022         18.5    Franklin    rain
1       1  Street Triple   11/9/2022         19.0      Taylor     sun
2       2  Street Triple  11/10/2022         17.0    Franklin     sun
3       3         Passat  11/15/2022         22.0      Taylor    snow
4       4         Passat  11/16/2022         19.0      Taylor    snow
5       5         Passat  11/28/2022         21.0      Taylor    rain
6       6         Passat   12/2/2022         19.0    Franklin     sun
7       7  Street Triple   12/3/2022         20.0     Library     sun

In [4]:
commute.describe()

        TripID  CommuteTime
count  8.00000     8.000000
mean   3.50000    19.437500
std    2.44949     1.545443
min    0.00000    17.000000
25%    1.75000    18.875000
50%    3.50000    19.000000
75%    5.25000    20.250000
max    7.00000    22.000000

In [6]:
commute.groupby('Weather').count()

         TripID  Vehicle  Date  CommuteTime  Destination
Weather
rain          2        2     2            2            2
snow          2        2     2            2            2
sun           4        4     4            4            4

In [10]:
commute.groupby('Weather').describe()

        TripID                                           CommuteTime         \
         count mean       std  min   25%  50%   75%  max       count   mean
Weather
rain       2.0  2.5  3.535534  0.0  1.25  2.5  3.75  5.0         2.0  19.75
snow       2.0  3.5  0.707107  3.0  3.25  3.5  3.75  4.0         2.0  20.50
sun        4.0  4.0  2.943920  1.0  1.75  4.0  6.25  7.0         4.0  18.75


              std   min     25%    50%     75%   max
Weather
rain     1.767767  18.5  19.125  19.75  20.375  21.0
snow     2.121320  19.0  19.750  20.50  21.250  22.0
sun      1.258306  17.0  18.500  19.00  19.250  20.0

In [11]:
commute.groupby(['Weather', 'Vehicle']).count()

                       TripID  Date  CommuteTime  Destination
Weather Vehicle
rain    Passat              1     1            1            1
        Street Triple       1     1            1            1
snow    Passat              2     2            2            2
sun     Passat              1     1            1            1
        Street Triple       3     3            3            3

In [12]:
commute.groupby(['Weather', 'Vehicle']).describe()

                      TripID                                                 \
                       count      mean       std  min   25%  50%   75%  max
Weather Vehicle
rain    Passat           1.0  5.000000       NaN  5.0  5.00  5.0  5.00  5.0
        Street Triple    1.0  0.000000       NaN  0.0  0.00  0.0  0.00  0.0
snow    Passat           2.0  3.500000  0.707107  3.0  3.25  3.5  3.75  4.0
sun     Passat           1.0  6.000000       NaN  6.0  6.00  6.0  6.00  6.0
        Street Triple    3.0  3.333333  3.214550  1.0  1.50  2.0  4.50  7.0

                      CommuteTime                                          \
                            count       mean       std   min    25%   50%
Weather Vehicle
rain    Passat                1.0  21.000000       NaN  21.0  21.00  21.0
        Street Triple         1.0  18.500000       NaN  18.5  18.50  18.5
snow    Passat                2.0  20.500000  2.121320  19.0  19.75  20.5
sun     Passat                1.0  19.000000       NaN  19.0  19.00  19.0
        Street Triple         3.0  18.666667  1.527525  17.0  18.00  19.0


                         75%   max
Weather Vehicle
rain    Passat         21.00  21.0
        Street Triple  18.50  18.5
snow    Passat         21.25  22.0
sun     Passat         19.00  19.0
        Street Triple  19.50  20.0

In [13]:
commute.groupby(['Vehicle', 'Weather']).count()

                       TripID  Date  CommuteTime  Destination
Vehicle       Weather
Passat        rain          1     1            1            1
              snow          2     2            2            2
              sun           1     1            1            1
Street Triple rain          1     1            1            1
              sun           3     3            3            3

In [17]:
commute.groupby(['Vehicle', 'Destination'])['CommuteTime'].describe()['mean']

Vehicle        Destination
Passat         Franklin       19.000000
               Taylor         20.666667
Street Triple  Franklin       17.750000
               Library        20.000000
               Taylor         19.000000
Name: mean, dtype: float64

In [18]:
commute.groupby(['Vehicle', 'Weather'])['CommuteTime'].describe()['mean']

Vehicle        Weather
Passat         rain       21.000000
               snow       20.500000
               sun        19.000000
Street Triple  rain       18.500000
               sun        18.666667
Name: mean, dtype: float64